.container-custom{
    padding-left: 50px;
    padding-right: 50px;
}

.nav-custom{
    background-color: #00BD9D;
    padding: 0;
}

.nav-logo{
    color: #FFFBFA;
}

.drop-custom{
    padding-bottom: 20px;
}

.btn-opt{
    background-color: #00BD9D;
    padding: 0;
    border: 0;
}

.cliente{
    padding-left: 50px;
    padding-right: 50px;
}

.cliente h1{ 
    font-size: 64px;
    color: #8BD7D2;
}

.usr-info{
    padding-left: 50px;
}

.contenedor-mascotas{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.card-mascota{
    width: 25vw;
    height: 450px;
    border-radius: 50px;
    border: 4px solid #8BD7D2;
}

.dir{
    display: flex;
}

.dir h2{
    font-size: 20px;
    color: #49C6E5;
    padding-left: 20px;
}

.tel{
    display: flex;
}

.tel h2{
    font-size: 20px;
    color: #49C6E5;
    padding-left: 20px;
}

.prox-cita{
    display: flex;
}

.prox-cita h2{
    font-size: 20px;
    color: #49C6E5;
    padding-left: 20px;
}


.card-nuevo-mod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-nuevo-mod h3{
    padding-top: 10px;
    color: #54DEFD;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.card-body-mod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .info1 p{
    color: #8BD7D2;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

.btn-nuevo{
    width: 173px;
    height: 52px;
    border-radius: 25px;
    background: #00BD9D;
    border-color: #FFFBFA;
    align-self: center;
}

.btn-nuevo:hover{
    background: #49C6E5;
    border-color: #49C6E5;
}

.btn-agendar{
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-agendar p{
    padding-left: 15px;
    margin-bottom: 0;
}

.icons-img{
    display: flex;
    justify-content: space-between;
}

.btn-puntos{
    border: 0;
    border-color: #FFFBFA;
    padding: 0;
    background: #FFFBFA;
}